@page "/"

<style>
    .catalogue{
        padding: 5%;
    }
    .product-card{
        border-radius: 15px !important;
        padding: 0.1%;
        border: transparent !important;
    }
    .selected-product-image{
        border: 5px hsl(14, 86%, 42%) solid !important;
        border-radius: 15px;
    }
    .add-to-cart.btn{
        padding: 10px !important;
        width: 14rem;
        position: relative;
        bottom: 1.5rem;
        background-color: white !important;
        border: 1px hsl(7, 20%, 60%) solid !important;
        border-radius: 100px !important;
        cursor: pointer;
    }
    .add-to-cart.btn:hover{
        border: 1px hsl(14, 86%, 42%) solid !important;
        color: hsl(14, 86%, 42%);
        transition: ease-in-out 0.5s;
    }
    .adjust-cart-quantity{
        color: white;
        padding: 10px !important;
        width: 14rem;
        position: relative;
        bottom: 1.5rem;
        background-color: hsl(14, 86%, 42%) !important;
        border-radius: 100px !important;
    }
    .adjust-cart-quantity .btn {
        border: 2px hsl(20, 50%, 98%) solid;
        border-radius: 50%;
        width: 25px;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .adjust-cart-quantity .btn:hover {
        background-color: hsl(20, 50%, 98%);
        transition: ease-in-out 0.5s;
    }
    .adjust-cart-quantity .btn:hover img{
        filter: invert(28%) sepia(89%) saturate(6470%) hue-rotate(20deg) brightness(98%) contrast(97%);
        transition: ease-in-out 0.5s;
    }
    .product-order .remove-from-cart.btn{
        border: 2px hsl(7, 20%, 60%) solid;
        border-radius: 50%;
        width: 25px;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-order .remove-from-cart.btn:hover{
        border: 2px hsl(14, 65%, 9%) solid;
        transition: ease-in-out 0.5s;
    }
    .product-order .remove-from-cart.btn:hover img{
        filter: brightness(0%);
        transition: ease-in-out 0.5s;
    }
    .adjust-cart-quantity .btn img, .product-order .remove-from-cart.btn img {
        display: block;
        margin: auto !important;
    }
    /*.increment.btn{
        position: relative;
        left: 5px !important;
    }*/
    .user-cart{
        padding: 15px !important;
        background-color: white !important;
        border: 1px hsl(7, 20%, 60%) solid !important;
        border-radius: 30px !important;
    }

    .delivery-note, .order-details{
        padding: 15px !important;
        border-radius: 15px;
        background-color: hsl(13, 31%, 94%);
    }
    .highlight-text{
        font-weight: 700;
        color: hsl(14, 86%, 42%);
    }
    .bold-text{
        font-weight: 700;
    }
    .extra-text{
        font-weight: 600;
        color: hsl(14, 25%, 72%);
    }
    .extra-text-light{
        font-weight: 400;
        color: hsl(14, 25%, 72%);
    }
    .confirm.btn{
        height: 2.5rem;
        width: 18rem;
        padding: 15px, 10px, 15px, 10px !important;
        color: white;
        background-color: hsl(14, 86%, 42%);
        border-radius: 100px;
    }
    .confirm.btn:hover{
        background-color: hsl(14, 85%, 32%);
        transition: ease-in-out;
    }
    .modal-content{
        padding: 5%;
        border-radius: 15px;
    }
    .modal-body{
        overflow-y: auto;
        max-height: 550px;
    }
    .confirmed-icon{
        width: 60px;
        height: 45px;
    }
    .product-thumbnail{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 5px;
    }
    @@media (max-width:1445px){
        .modal-body{
            overflow-y: auto;
            max-height: 300px;
        }
    }
</style>

<PageTitle>Home</PageTitle>

<section class="catalogue bg-white">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="bold-text">Desserts</h1>
            <div id="catalogue-items" class="row">
                <!--div class="row">
                    <div class="col">
                        <ProductCard></ProductCard>
                    </div>
                    <div class="col"></div>
                    <div class="col">
                        <ProductCard></ProductCard>
                    </div>
                    <div class="col"></div>
                    <div class="col">
                        <ProductCard></ProductCard>
                    </div>
                    <div class="col"></div>
                </div-->
            </div>
        </div>
        <div class="col-sm-4">
            <div class="user-cart">
                <h3 id="cart-title" class="highlight-text">Your Cart (0)</h3>
                <div id="cart-body"></div>
                <div id="cart-footer">

                </div>


            </div>
        </div>
    </div>
</section>

<div class="modal" id="end-order-modal" tabindex="-1" style="background-color: rgba(0,0,0,0.6); overflow-y: hidden;">
  <div class="modal-dialog">
    <div class="modal-content" style="margin:0 auto;">
        <div class="row">
            <img class="confirmed-icon" src="./assets/images/icon-order-confirmed.svg">
        </div>
        <div class="row">
            <h1 class="bold-text">Order Confirmed</h1>
        </div>
        <div class="row">
            <h6 class="extra-text-light">We hope you enjoy your food!</h6>
        </div>
        <br>
        <div class="modal-body">
            <div id="cart-modal-body" class="order-details">
            
            </div>
            <br>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button class="confirm btn bold-text" onclick="submitOrder()">Start New Order</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>


<script>
    async function getProducts(){
        var products;
        await $.ajax({
            url: "http://localhost:5033/products/",
            method: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function(data){
                //console.log(data);
                products = data;
            }
        });
        /*for (let i=0; i<products.length; i++){
            console.log(products[i])
        }*/
        //console.log(products);
        
        return products;
    }

    async function getCart(){
        var cart;
        await $.ajax({
            url: "http://localhost:5033/cart/",
            method: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function(data){
                //console.log(data);
                cart = data;
                //return cart;
            }
        });
        return cart;
    }

    function updateCatalogue(){
        let catalogue = document.getElementById("catalogue-items");
        console.log(productJSON);
        let html = "";
        let j = 0;
        for(let i=0;i<productJSON.length;i++){
            /*if (j === 0){
                html += '<div class="row">';
            }*/
            /*html += `
                    <div class="col-md-4" style="padding: 20px 10px 20px 10px">
                        <div class="card" style="width: 22rem;">
                            <img class="product-image" src="${productJSON[i]['image']['desktop']}">

                            <div class="d-flex justify-content-center">
                    `;*/
            if(cartJSON.find(order => order['product'] == productJSON[i]['name'])){
                let productOrder = cartJSON.find(order => order['product'] == productJSON[i]['name']);
                html += `
                        <div class="col-sm-4" style="padding: 2% 1% 2% 1%">
                            <div class="card product-card" style="width: 17rem;">
                                <img class="selected-product-image" src="${productJSON[i]['image']['desktop']}">

                                <div class="d-flex justify-content-center">
                                    <div class="d-flex justify-content-center adjust-cart-quantity">
                                        <div class="col-3">
                                            <button class="btn" id="decrement-${productOrder['id']}" onclick="decrementQuantity(${productOrder['id']},${productOrder['quantity']},${productOrder['price']})">
                                                <img src="./assets/images/icon-decrement-quantity.svg">
                                            </button>
                                        </div>
                                        <div class="col-6 d-flex justify-content-center align-items-center bold-text">${productOrder['quantity']}</div>
                                            <div class="col-3 d-flex justify-content-end">
                                            <button class="btn" id="increment-${productOrder['id']}" onclick="incrementQuantity(${productOrder['id']},${productOrder['quantity']},${productOrder['price']})">
                                                <img src="./assets/images/icon-increment-quantity.svg">
                                            </button>
                                        </div>
                                    </div>
                        `
            }
            else{
                html += `
                        <div class="col-sm-4" style="padding: 2% 1% 2% 1%">
                            <div class="card product-card" style="width: 17rem;">
                                <img class="product-image" src="${productJSON[i]['image']['desktop']}">

                                <div class="d-flex justify-content-center">
                                        <button class="add-to-cart btn bold-text" onclick="addProductToCart('${productJSON[i]['name']}',${productJSON[i]['price']})">
                                            <img src="./assets/images/icon-add-to-cart.svg">
                                            Add to Cart
                                        </button>
                        `;
            }

                            
                    
            html += `
                            </div>
                            <div class="card-body">
                                <h6 class="extra-text-light">${productJSON[i]['category']}</h6>
                                <h6 class="card-title bold-text">${productJSON[i]['name']}</h6>
                                <h6 class="highlight-text">$${productJSON[i]['price'].toFixed(2)}</h6>
                            </div>
                        </div>
                    </div>
            `;
            /*j++;
            if ((j >= 3) | (i === (productJSON.length - 1))){
                html += '</div><br><br>';
                j=0;
            }*/
        }
        catalogue.innerHTML = html;
        console.log(catalogue);
    }
    
    var cartJSON;
    getCart().then((result) => {
        cartJSON = result;
        updateCart();
    });
    var productJSON;
    //getProducts();
    getProducts().then((result) => {
        productJSON = result;
        updateCatalogue();
    });

    function addProductToCart(product,price){
        console.log(cartJSON);
        //let order = {"id":cartJSON.length + 1,"product":product,"price":price,"quantity":1};
        let order = {"product":product,"price":price};
        console.log(order);
        $.ajax({
                url: "http://localhost:5033/cart/",
                method: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(order),
                success: function(data){
                    cartJSON = data;
                    console.log(cartJSON);
                    updateCart();
                    updateCatalogue();
                }
        });
        console.log("PeasAdded");
    }

    function removeProductFromCart(id){
        $.ajax({
                url: "http://localhost:5033/cart/" + id,
                method: "DELETE",
                contentType: "application/json",
                dataType: "json",
                success: function(data){
                    cartJSON = data;
                    console.log(cartJSON);
                    updateCart();
                    updateCatalogue();
                }
        });
        console.log("PeasRemoved");
        //updateCart();
    }

    function incrementQuantity(id,currentQuantity,currentPrice){
        if(currentQuantity < 99){
            $.ajax({
                url: "http://localhost:5033/cart/" + id,
                method: "PUT",
                contentType: "application/json",
                dataType: "json",
                data:JSON.stringify({"id": id,"product": "","price": currentPrice,"quantity": (currentQuantity+1)}),
                success: function(data){
                    cartJSON = data;
                    //console.log(cartJSON);
                    updateCart();
                    updateCatalogue();
                }
            });
        }


    }

    function decrementQuantity(id,currentQuantity,currentPrice){
        if(currentQuantity > 1){
            $.ajax({
                    url: "http://localhost:5033/cart/" + id,
                    method: "PUT",
                    contentType: "application/json",
                    dataType: "json",
                    data:JSON.stringify({"id": id,"product": "","price": currentPrice,"quantity": (currentQuantity-1)}),
                    success: function(data){
                        cartJSON = data;
                        console.log(cartJSON);
                        updateCart();
                        updateCatalogue();
                    }
            });
        }
    }

    function countCartProducts(){
        let totalProducts = 0;
        for(let i=0;i<cartJSON.length;i++){
            totalProducts += cartJSON[i]['quantity'];
        }
        return totalProducts;
    }

    function updateCart(){
        let cartBody = document.getElementById("cart-body");
        let cartTitle = document.getElementById("cart-title");
        let totalPrice = 0;
        console.log(cartJSON);
        cartTitle.innerText = `Your Cart (${countCartProducts()})`
        let html = "";
        if (cartJSON.length > 0){
            for(let i=0;i<cartJSON.length;i++){
                totalPrice += (cartJSON[i]['quantity'] * cartJSON[i]['price']);
                html += `
                            <div class="row product-order">
                                <div class="col-10">
                                    <div class="row">
                                        <h6 class="bold-text">${cartJSON[i]['product']}</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 highlight-text">${cartJSON[i]['quantity']}x</div>
                                        <div class="col-3 extra-text-light">$${cartJSON[i]['price'].toFixed(2)}</div>
                                        <div class="col-3 bold-text extra-text">$${(cartJSON[i]['quantity'] * cartJSON[i]['price']).toFixed(2)}</div>
                                        <div class="col-4"></div>
                                    </div>
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <button class="remove-from-cart btn" onclick="removeProductFromCart(${cartJSON[i]['id']})">
                                        <img src="./assets/images/icon-remove-item.svg">
                                    </button>
                                </div>
                            </div>
                            <hr style="background-color: hsl(7, 20%, 60%);">
                        `;
            }
        }
        else{
            html += `
                        <div class="row text-center">
                            <img class="center-block" src="./assets/images/illustration-empty-cart.svg" style="width:14rem; height:14rem; display:block; margin-left:auto; margin-right:auto;">
                            <p style="color:hsl(7, 20%, 60%)">Your added items will appear here</p>
                        </div>
            `;
        }
        cartBody.innerHTML = html;

        let cartFooter = document.getElementById("cart-footer");
        if (cartJSON.length === 0){cartFooter.innerHTML = "";}
        else{
            cartFooter.innerHTML =  `
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                Order Total
                                            </div>
                                            <div class="col-6 d-flex justify-content-end">
                                                <h2 class="bold-text">$${totalPrice.toFixed(2)}</h2>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-10 d-flex justify-content-center delivery-note">
                                                <img src="./assets/images/icon-carbon-neutral.svg">
                                                &nbspThis is a&nbspcarbon-neutral&nbspdelivery
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row d-flex justify-content-center">
                                            <button class="confirm btn bold-text" onclick="openModal('end-order-modal')">Confirm Order</button>
                                        </div>
                                    `;
        }
    }

    function addOrderToModal(){
        let modalBody = document.getElementById("cart-modal-body");
        let html = "";
        let totalPrice = 0;
        console.log("trs")
        for(let i=0; i<cartJSON.length;i++){
            console.log(cartJSON[i]);
            totalPrice += (cartJSON[i]['quantity'] * cartJSON[i]['price']);
            let img = productJSON.find(product => product['name'] == cartJSON[i]['product'])['image']['thumbnail'];
            console.log(img)
            html +=  `
                        <div class="row">
                            <div class="col-3">
                                <img class="product-thumbnail" src="${img}">
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12 bold-text">${cartJSON[i]['product']}</div>
                                </div>
                                <div class="row">
                                    <div class="col-2 highlight-text">${cartJSON[i]['quantity']}x</div>
                                    <div class="col-10 extra-text-light">&#64;$${cartJSON[i]['price'].toFixed(2)}</div>
                                </div>
                            </div>
                            <div class="col-3 bold-text">
                                $${(cartJSON[i]['quantity'] * cartJSON[i]['price']).toFixed(2)}
                            </div>
                            
                        </div>
                        <hr style="background-color: hsl(7, 20%, 60%);">
                        
                    `;
        }
        html += `
                    <div class="row align-items-center">
                        <div class="col-6">Order Total</div>
                        <div class="col-6 d-flex justify-content-end">
                            <h2 class="bold-text">$${totalPrice.toFixed(2)}</h2>
                        </div>
                    </div>
                `
        modalBody.innerHTML = html;
    }

    function openModal(targetModal){
        let modal = document.getElementById(targetModal);
        modal.style.display = "block";
        $('body, html').css('overflow', 'hidden');
        addOrderToModal();
    }

    function closeModal(targetModal){
        let modal = document.getElementById(targetModal);
        modal.style.display = "none";
        $('body, html').css('overflow', 'auto');
    }

    function submitOrder(){
        $.ajax({
            url: "http://localhost:5033/cart/",
            method: "DELETE",
            contentType: "application/json",
            dataType: "json",
            success: function(data){
                closeModal("end-order-modal");
                cartJSON = data;
                updateCart();
                getProducts().then((result) => {
                    productJSON = result;
                    updateCatalogue();
                });
                
            }
        });
    }
</script>